<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

  </connectionStrings>
  <appSettings>
    <!--<add name1="connStr"
  providerName="System.Data.SqlClient"
  connectionString="Data Source=127.0.0.1;Integrated Security=True;Initial Catalog=master"/>-->
  </appSettings>
</configuration>